<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @project.img %>);">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1><%= @project.name %></h1>
        <p><%= @project.title %></p>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 10px;">
  <div class="mt-3 mb-2">
    <i class="fas fa-arrow-left"> </i>
    <%= link_to "back to home", root_path %>
  </div>
  <h3>What is this about?</h3>
  <p><%= @project.description %></p>
  <h3>Have a look at the schema:</h3>

  <img src="<%= @project.schema %>" alt="schema" class="responsive" style="margin-bottom: 10px;">

  <h3>Is it responsive?</h3>

  <% if  @project.responsive %>
    <p>Of course, is there any other way to program a site?</p>
    <% else %>
    <p>Noup :( Rookie mistake!</p>  
  <% end %>

  <h3>Want some more info?</h3>
  <p>You can check the platform <a href="<%= @project.href_project %>" target="_blank">here</a>. 

  <% if @project.name == "BookAdvisor" %>
    Patience with this one. As we are scraping a lot of things, it may take a couple of minutes to load.
  <% end %>
  </p>

  <% if @project.user %>
    <p>You can log in as: "<%= @project.user %>". The password is: "<%= @project.passw %>" (by the way, this is a fake email <i class="far fa-smile-wink"></i>).</p>
  <% end %>

  <h3>Still want some more info?</h3>
  <p>You can check github repository <a href="<%= @project.href_github %>" target="_blank">here</a></p>
</div>
