<!DOCTYPE html>
<html>
  <head>
    <title>RailsProjects</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-light bg-light justify-content-between">
      <script>
      function hover(element) {
      element.setAttribute('src', 'https://res.cloudinary.com/dibnvedk9/image/upload/v1620261383/projects/thug_life_aq8k31.png');
      }

      function unhover(element) {
      element.setAttribute('src', 'https://res.cloudinary.com/dibnvedk9/image/upload/v1620183855/projects/1576292896774_aroody.jpg');
      }
      </script>
      <a href="http://tomagprojects.herokuapp.com/">
        <img id="my-img" src="https://res.cloudinary.com/dibnvedk9/image/upload/v1620183855/projects/1576292896774_aroody.jpg" onmouseover="hover(this);" onmouseout="unhover(this);" />
      </a>


      <div class="contact">
        <a href="https://www.linkedin.com/in/tomasagnese/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
        <a href="https://github.com/tomag1985" target="_blank"><i class="fab fa-github-square fa-3x"></i></a>
      </div>
      </nav>
    </nav>

    <%= yield %>
  </body>
</html>
